name: Build And Save Release APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Grant Permission
        run: chmod +x ./gradlew

      - name: Build Release APK
        run: ./gradlew assembleRelease --no-daemon

      - name: Create Release Folder
        run: mkdir -p release

      - name: Copy APK to Release Folder
        run: |
          find . -name "*release*.apk" -exec cp {} release/app-release.apk \;

      - name: Commit APK to Repo
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add release/app-release.apk
          git commit -m "Auto build release APK"
          git push
